.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(163, 163, 163);
  background-image: url(https://img.freepik.com/premium-photo/pink-gradient-background-soothing-blend-soft-vibrant-pink-hues-generative-ai_208978-868.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703808000&semt=ais);
  background-size: cover;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: rgb(255, 255, 255);
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: #dadde1;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #ffffff;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
